<main>

    <!-- Home-Template: Beinhaltet neben dem Dokument auch noch das aktuellste Projekt, wenn in der home.md aktiviert -->

    <div class="container">
        <div class="wrapper">

            <div class="left">

                <div class="top">

                    <%-

                    printDocumentHere(fileText, fileElements, uniquePlaceholder);

                    -%>

                </div>

                <div class="bottom"><!-- kann ignoriert werden -->

                </div>

            </div>

            <% if(meta['ShowLatestWork'] != "false"){ %>

            <div class="right">

                <h2><%- meta["LatestWorkHeading"]; -%></h2>

                <%-

                projectCard(getLatestProject());

                -%>
                <a class="anchor-button view-all" href="<%- ROOT -%>mywork">View all</a>

            </div>

            <% } %>

        </div>
    </div>

</main>