<main>

    <!-- Mywork-Template: Beinhaltet neben dem Dokument auch noch die Projekt-Galerie -->

    <div class="container">
        <div class="wrapper">

            <%-

            printDocumentHere(fileText, fileElements, uniquePlaceholder);

            -%>

            <div class="project-gallery">


                <%-

                printProjectCardGalleryHere();

                -%>

            </div>

        </div>
    </div>

</main>